{% extends 'base/main_base.njk' %}

{% from 'macro/breadcrumb_macro.njk' import breadcrumb %}

{% set crumbs = [
    { href: '/shiftwork.html', caption: 'Главная' },
    { href: 'about.html', caption: 'О нас' }
] %}

{% block title %} Компания БХТ | О компании {% endblock %}

{% block content %}

{{ breadcrumb(crumbs) }}

<section class="p-4" style="line-height: 1.8rem">
    <div class="container">
        <h2 class="mb-4">О компании</h2>
        <h4 class="my-4">О нас</h4>
        <img src="../images/about_building_1.jpg" class="img-fluid rounded-2 mb-4" alt="здание компании" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aut, autem commodi, earum, esse
            eveniet explicabo facilis harum inventore minima modi nemo voluptates? Ab blanditiis culpa deleniti,
            dolore dolorem eligendi et fugiat illo illum in, ipsam ipsum laboriosam laborum natus nesciunt nobis
            numquam porro praesentium quaerat quas quis quisquam rerum soluta, sunt veritatis. Ea fugit, molestiae?
            Ab adipisci, aliquam aperiam atque commodi consectetur deserunt facere laborum laudantium molestias
            nemo omnis pariatur perspiciatis quas quibusdam sequi suscipit tempore vero voluptas voluptatum.
            Ab ad asperiores blanditiis exercitationem ipsa ipsum, maiores minus nulla officiis optio quia,
            quibusdam quis temporibus, vero voluptas. Aut?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aut, autem commodi, earum, esse
            eveniet explicabo facilis harum inventore minima modi nemo voluptates? Ab blanditiis culpa deleniti,
            dolore dolorem eligendi et fugiat illo illum in, ipsam ipsum laboriosam laborum natus nesciunt nobis
            numquam porro praesentium quaerat quas quis quisquam rerum soluta, sunt veritatis. Ea fugit, molestiae?
            Ab adipisci, aliquam aperiam atque commodi consectetur deserunt facere laborum laudantium molestias
            nemo omnis pariatur perspiciatis quas quibusdam sequi suscipit tempore vero voluptas voluptatum.
            Ab ad asperiores blanditiis exercitationem ipsa ipsum, maiores minus nulla officiis optio quia,
            quibusdam quis temporibus, vero voluptas. Aut?
        </p>
        <h4 class="my-4">Кто мы</h4>
        <img src="../images/about_team_1.jpg" class="img-fluid rounded-2 mb-4" alt="команда комании" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aut, autem commodi, earum, esse
            eveniet explicabo facilis harum inventore minima modi nemo voluptates? Ab blanditiis culpa deleniti,
            dolore dolorem eligendi et fugiat illo illum in, ipsam ipsum laboriosam laborum natus nesciunt nobis
            numquam porro praesentium quaerat quas quis quisquam rerum soluta, sunt veritatis. Ea fugit, molestiae?
            Ab adipisci, aliquam aperiam atque commodi consectetur deserunt facere laborum laudantium molestias
            nemo omnis pariatur perspiciatis quas quibusdam sequi suscipit tempore vero voluptas voluptatum.
            Ab ad asperiores blanditiis exercitationem ipsa ipsum, maiores minus nulla officiis optio quia,
            quibusdam quis temporibus, vero voluptas. Aut?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aut, autem commodi, earum, esse
            eveniet explicabo facilis harum inventore minima modi nemo voluptates? Ab blanditiis culpa deleniti,
            dolore dolorem eligendi et fugiat illo illum in, ipsam ipsum laboriosam laborum natus nesciunt nobis
            numquam porro praesentium quaerat quas quis quisquam rerum soluta, sunt veritatis. Ea fugit, molestiae?
            Ab adipisci, aliquam aperiam atque commodi consectetur deserunt facere laborum laudantium molestias
            nemo omnis pariatur perspiciatis quas quibusdam sequi suscipit tempore vero voluptas voluptatum.
            Ab ad asperiores blanditiis exercitationem ipsa ipsum, maiores minus nulla officiis optio quia,
            quibusdam quis temporibus, vero voluptas.
        </p>
    </div>
</section>

{% endblock %}
