{% extends 'base/main_base.njk' %}

{% from 'macro/breadcrumb_macro.njk' import breadcrumb %}
{% from 'macro/client_card.njk' import client_card %}
{% from 'macro/client_text_interview.njk' import client_text_interview %}
{% from 'macro/video_modal.njk' import video_modal %}


{% set crumbs = [
    { href: '/business.html', caption: 'Главная' },
    { href: '', caption: 'Опыт клиентов' }
] %}

{% set interviews = [
    { id: 1, title: 'Сбербанк (Интервью)', url: 'https://www.youtube.com/embed/tLcnJEMnlTs', type: 'video' },
    { id: 2, title: 'Хартман', url: 'interview.html', type: 'text' },
    { id: 3, title: 'Магнит', url: 'interview.html', type: 'text' },
    { id: 4, title: 'Лента', url: 'interview.html', type: 'text' }
] %}


{% block title %} Компания БХТ | Опыт клиентов {% endblock %}

{% block content %}

{{ breadcrumb(crumbs) }}

{{ video_modal('video_modal', '') }}


<section class="p-4 pb-5 bht-bg-primary">
    <div class="container">
        <h2 class="mb-4">Наши клиенты</h2>
        <div class="row g-4">
        {% for interview in interviews %}
            <div class="col-md-6 col-lg-3">
            {% if(interview.type == 'video') %}
                {{ client_card(interview.id, interview.title, interview.url) }}
            {% else %}
                {{ client_text_interview(interview.id, interview.title, interview.url) }}
            {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        OpenVideoModal('video_modal', 'data-bs-video-url');
    });
</script>
{% endblock %}

