{% extends 'base/_base2.njk' %}

{% block content %}

    <div class="wrapper">
        <header class="header__container">
            <div class="container-xxl d-flex align-items-center header">
                <a href="about.html">
                    <img src="images/site_logo.svg" class="header__logo" alt="Главная страница БХТ" />
                </a>
                {# <h1 class="header__title d-none d-md-block">Профессиональный аутсорсинг персонала</h1> #}
            </div>
        </header>

        <main class="main">
            <div class="container-xxl p-0">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <a href="shiftwork.html" class="text-decoration-white">
                            <div class="box box__left">
                                Аутсорсинг
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="business.html" class="text-decoration-white">
                            <div class="box box__right">
                                Клиннинг
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>


{% endblock %}


