{% extends 'base/work_base.njk' %}

{% from 'macro/applicant_contacts_modal.njk' import applicant_contacts_modal %}
{#{% from 'macro/invite2tender_macro.njk' import invite2tender %}#}

{% block title %}
    Группа кадровых компаний БХТ
{% endblock %}


{% block content %}

{{ applicant_contacts_modal("applicant_contacts") }}


<section class="showcase-work">
    <div class="container-xxl">
        <div class="row ps-md-5 position-relative">

            <div class="col col-md-7 py-5">
                <div>
                    <h1>Официальная работа <span class="fw-light">в Москве и Санкт-Петербурге</span></h1>
                </div>
                <div class="py-4">
                    <h3>от прямого работодателя</h3>
                </div>

                <ul class="showcase-work__conditions">
                    <li>
                        <img src="../images/circle.png" alt="list item circle" />
                        <span> <span class="fw-bold">Без</span> посредников</span>
                    </li>
                    <li>
                        <img src="../images/circle.png" alt="list item circle" />
                        <span> <span class="fw-bold">Трудоустроим</span> в течении <br/>одного дня</span>
                    </li>
                    <li>
                        <img src="../images/circle.png" alt="list item circle" />
                        <span><span class="fw-bold">Постоянная</span> работа <br/>или работа <span class="fw-bold">вахтой</span></span>
                    </li>
                </ul>

                <div class="mt-5">
                    <button class="btn btn-warning btn-lg"
                            data-bs-toggle="modal"
                            data-bs-target="#applicant_contacts">
                        Подобрать вакансию
                    </button>
                </div>
            </div>

            <div class="col col-md-5 p-0 ">
                <img class="img-fluid showcase-work__image d-none d-md-block" src="../images/work_man.png" alt="Work man" />
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-md-4"></div>
            <div class="col-md-8 px-0">
                <div class="company-summary">
                    <div class="info d-md-inline-flex justify-content-between">
                        <div class="info__block">
                            <div class="info__title">17+</div>
                            <div class="info__subtitle">лет на рынке трудойстройства</div>
                        </div>

                        <div class="info__block">
                            <div class="info__title">600+</div>
                            <div class="info__subtitle">человек в месяц трудоустраиваем</div>
                        </div>

                        <div class="info__block">
                            <div class="info__title">1350+</div>
                            <div class="info__subtitle">предприяйтий партнеров по России</div>
                        </div>

                        <div class="info__block">
                            <div class="info__title">5000+</div>
                            <div class="info__subtitle">человек работают в БХТ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vacancy-list">
    <div class="container mt-3">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-5">
                <img src="../images/man3.png" alt="adviser man" class="img-fluid" />
            </div>
            <div class="col-md-7">
                <h1>
                    <span class="fw-bolder">Найдем вам</span>
                    <span class="fw-light">постоянную работу или работу вахтовым методом</span>
                </h1>
                <span class="fw-normal">Компания БХТ предлагает работу на крупных
                российских и иностранных производствах</span>
            </div>
        </div>

        <div class="row mt-3 g-4">
            <div class="col-md-6 work-card-col">
                <div class="work-card">
                    <div class="work-card__inner">
                        <div class="work-card__front">
                            <div class="front__text">
                                <div class="front__text-title">Работа <br />вахтой</div>
                                <div class="front__text-subtitle">Наши вакансии</div>
                            </div>
                            <div class="front__image">
                                <img src="../images/man_1.png" alt="man 1"  class="img-fluid" />
                            </div>
                            <div class="front__hint">
                                Наведите, чтобы увидеть перечень вакансий
                            </div>
                        </div>
                        <div class="work-card__background">
                            <ul class="vacancies-list">
                                <li><a href="#">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 work-card-col">
                <div class="work-card">
                    <div class="work-card__inner">
                        <div class="work-card__front">
                            <div class="front__text">
                                <div class="front__text-title">Постоянная <br />занятость</div>
                                <div class="front__text-subtitle">Рабочие  вакансии</div>
                            </div>
                            <div class="front__image">
                                <img src="../images/woman_1.png" alt="woman 1"  class="img-fluid front__image--right" />
                            </div>
                            <div class="front__hint">
                                Наведите, чтобы увидеть перечень вакансий
                            </div>
                        </div>
                        <div class="work-card__background">
                            <ul class="vacancies-list">
                                <li><a href="#">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                                <li><a href="#" class="">Разнорабочий<br>г. Кировск</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col text-center">
                <a href="jobs.html" class="btn btn-lg btn-primary my-btn">
                    Смотреть все вакансии
                </a>
            </div>
        </div>
    </div>
</section>

<section class="job-guarantees">
    <div class="container p-5">

        <div class="row align-items-center justify-content-between mt-5">
            <div class="col-md-5">
                <img src="../images/man4.png" alt="adviser man" class="img-fluid" />
            </div>
            <div class="col-md-7">
                <h1 class="">
                    <span class="fw-bold">Гарантируем комфортные условия проживания и труда,</span>
                    <span class="fw-lighter">а также своевременную заработную плату</span>
                </h1>
            </div>
        </div>

        <div class="row align-items-center justify-content-between mt-5">
            <div class="col-md-3">
                <div class="condition-item">
                    <img src="../images/icon_write.png" class="img-fluid" alt="condition item" />
                    <div class="condition-item__text">Заключение трудового <b>договора</b></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition-item">
                    <img src="../images/icon_db.png" class="img-fluid" alt="condition item" />
                    <div class="condition-item__text">Зарплата <b>от 60000 руб до 150000</b> за вахту</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition-item">
                    <img src="../images/icon_time.png" class="img-fluid" alt="condition item" />
                    <div class="condition-item__text">Заработанная плата <b>строго по графику</b></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition-item">
                    <img src="../images/icon_time.png" class="img-fluid" alt="condition item" />
                    <div class="condition-item__text"><b>Еженедельные</b> выплаты</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition-item">
                    <img src="../images/icon_filter.png" class="img-fluid" alt="condition item" />
                    <div class="condition-item__text"><b>Срок вахты на выбор</b> 45, 60, 90</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition-item">
                    <img src="../images/icon_calendar.png" class="img-fluid" alt="condition item" />
                    <div class="condition-item__text"><b>График работ</b> 5/2 и 6/1</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition-item">
                    <img src="../images/icon_question.png" class="img-fluid" alt="condition item" />
                    <div class="condition-item__text"><b>Помощь менеджера 24/7</b></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition-item">
                    <img src="../images/icon_education.png" class="img-fluid" alt="condition item" />
                    <div class="condition-item__text"><b>Возможность</b> обучения</div>
                </div>
            </div>
        </div>

        <div class="row mt-5 flex-row">
            <h4>Нужны объяснения или консультация?</h4>
            <div>
                <h5 class="d-inline-block fw-lighter me-2">
                    Звоните сейчас <span class="fw-bold">8 (812) 000-00-00</span> или оставьте Ваши данные и мы перевозним Вам
                </h5>
                <a href="#"
                   class="btn btn-lg btn-primary my-btn"
                   data-bs-toggle="modal"
                   data-bs-target="#applicant_contacts">Оставить контакты
                </a>
            </div>
        </div>

    </div>
</section>
{% endblock %}