{% macro breadcrumb(sections) %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent pl-0 pt-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% for section in sections %}
            <li class="breadcrumb-item"><a href="#">{{ section }}</a></li>
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}
