{% macro client_card(id, title, videoUrl) %}

{#{{ video_modal(i) }}#}

<div class="col-md-6 col-lg-3">
    <div class="card bg-light">
        <div class="card-body text-center">
            <img src="https://randomuser.me/api/portraits/men/{{ id }}.jpg"
                 class="rounded-circle mb-3"
                 alt=""
            />
            <h5 class="card-title mb-3">{{ title }}</h5>
            {#<p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
            </p>#}
            <a href="#" class="btn btn-outline-primary"
               data-bs-toggle="modal"
               data-bs-target="#video_modal"
               data-bs-video-url="{{ videoUrl }}"
            >Смотреть</a>
        </div>
    </div>
</div>

{% endmacro %}