{#{% macro flip_card() %}#}
<div class="flipping-card">
    <div class="flipping-card__card">
        <div class="flipping-card__front col-vcenter">
            <div class="flipping-card__text">
                <h3 class="t48 lh1 tal mb2 l-before fw9">
                    Работа <br>
                    вахтой								</h3>
                <div class="t26">Наши вакансии</div>
            </div>

            <div class="flipping-card__click row-vcenter">
                <div class="flipping-card__click-img mr col-center">
                    <picture><source type="image/webp" srcset="https://www.akmeservices.ru/wp-content/webp-express/webp-images/themes/outsour-php/assets/img/fwork/click.png.webp"><img src="https://www.akmeservices.ru/wp-content/themes/outsour-php/assets/img/fwork/click.png" alt="" class="webpexpress-processed lazyloaded" data-ll-status="loaded"><noscript><img src="https://www.akmeservices.ru/wp-content/themes/outsour-php/assets/img/fwork/click.png" alt="" class="webpexpress-processed"></noscript></picture>
                </div>
                <div class="flipping-card__gray-text t15">
                    При наведении <br>
                    сможете увидеть <br>
                    перечень всех <br>
                    вакансий								</div>
            </div>

            <div class="flipping-card__man col-center">
                <picture><source type="image/webp" srcset="https://www.akmeservices.ru/wp-content/webp-express/webp-images/uploads/2021/04/f1.png.webp"><img src="https://www.akmeservices.ru/wp-content/uploads/2021/04/f1.png" alt="" class="webpexpress-processed lazyloaded" data-ll-status="loaded"><noscript><img src="https://www.akmeservices.ru/wp-content/uploads/2021/04/f1.png" alt="" class="webpexpress-processed"></noscript></picture>
            </div>

            <div class="flipping-card__bg">
                <picture><source type="image/webp" srcset="https://www.akmeservices.ru/wp-content/webp-express/webp-images/themes/outsour-php/assets/img/fwork/bg.jpg.webp"><img src="https://www.akmeservices.ru/wp-content/themes/outsour-php/assets/img/fwork/bg.jpg" alt="" class="webpexpress-processed lazyloaded" data-ll-status="loaded"><noscript><img src="https://www.akmeservices.ru/wp-content/themes/outsour-php/assets/img/fwork/bg.jpg" alt="" class="webpexpress-processed"></noscript></picture>
            </div>

        </div>
        <div class="flipping-card__back">
            <div class="flipping-card__bg">
                <picture><source type="image/webp" srcset="https://www.akmeservices.ru/wp-content/webp-express/webp-images/themes/outsour-php/assets/img/fwork/bg2.jpg.webp"><img src="https://www.akmeservices.ru/wp-content/themes/outsour-php/assets/img/fwork/bg2.jpg" alt="" class="webpexpress-processed lazyloaded" data-ll-status="loaded"><noscript><img src="https://www.akmeservices.ru/wp-content/themes/outsour-php/assets/img/fwork/bg2.jpg" alt="" class="webpexpress-processed"></noscript></picture>
            </div>
            <ul class="t26 fliping-card__list fw4 white">
                <li><a href="/vakansii/raznorabochij-na-proizvodstvo/" class="white link-hover">Разнорабочий<br>г. Кировск</a></li>

                <li><a href="/vakansii/vakansija-raznorabochij-vahta-2/" class="white link-hover">Разнорабочий <br>Псковская обл.</a></li>

                <li><a href="/vakansii/vakansija-gruzchik-na-proizvodstvo-vahta/" class="white link-hover">Грузчик<br>г. Пушкино</a></li>

                <li><a href="/vakansii/upakovshchik/" class="white link-hover">Упаковщица<br>Лен. область</a></li>

                <li><a href="/vakansii/vakansija-gru/" class="white link-hover">Грузчик<br>Лен. область</a></li>

                <li><a href="/vakansija-upakovshhik-upakovshhica-vahta/" class="white link-hover">Упаковщик<br>Лен. область</a></li>

                <li><a href="/vakansii/raznorabochij/" class="white link-hover">Разнорабочий<br>г. Луга</a></li>

                <li><a href="/vakansii/vakansija-raznorabochij-vahta/" class="white link-hover">Разнорабочий<br>г. Москва</a></li>

                <li><a href="/vakansii/vakansija-upakovshhik-upakovshhica-vahta/" class="white link-hover">Упаковщик<br>г. Всеволожск</a></li>

                <li><a href="/vakansii/raznorabochij-2/" class="white link-hover">Разнорабочий<br>г. Колпино</a></li>


            </ul>
        </div>
    </div>
</div>
{#
{% endmacro %}#}
