{% macro video_modal(id) %}
<!-- Modal {{ id }} -->
<div class="modal fade"
     id="{{ id }}"
     tabindex="-1"
     aria-labelledby="videoInterview"
     aria-hidden="true"
>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            {#<div class="modal-header">
                <h5 class="modal-title" id="enrollLabel">Enrollment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>#}
            <div class="modal-body p-0">
                <iframe width="100%" height="450" src="https://www.youtube.com/embed/tLcnJEMnlTs" title="YouTube video player"
                        frameborder="0" {#allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"#}
                        allowfullscreen>
                </iframe>
            </div>
            {#<div class="modal-footer">
                <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>#}
        </div>
    </div>
</div>
{% endmacro %}