/**
  Open works card
 */
.work-card-col {

}

.work-card {
  $minHeight: 400px;
  $debug: false;

  background-color: transparent;
  min-height: $minHeight;
  margin: 0 auto;
  cursor: pointer;
  perspective: 1000px;


  &__inner {
    position: relative;
    min-height: $minHeight;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }


  &__front,
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    //-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__front {
    background-image: url(../images/card_bg_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__background {
    padding: 5px 30px;
    //background-color: #0b5ed7;
    background-image: url(../images/card_bg_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transform: rotateY(180deg);

    .vacancies-list {
      list-style-type: none;
      width: $minHeight;
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;

      li {
        width: 50%;
        //text-align: left;
        padding-left: 1rem;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      li a {
        color: #fff;
      }

      li a:hover {
        color: #debc0f;
      }

      li::before {
        content: '';
        position: absolute;
        left: -0.5rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        background-color: #e3bf0d;
        top: 1.5rem;
      }
    }
  }

  // debug
  @if $debug {
    &__inner {
      transform: rotateY(-180deg);
    }
  }
  @else {
    &:hover &__inner {
      transform: rotateY(-180deg);
    }
  }

}



.front {

  &__text {
    position: absolute;
    left: 50px;
    top: 50px;

    &-title {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1;
    }

    &-subtitle {
      font-weight: lighter;
      font-size: 1.125rem;
      padding-top: 8px;
    }
  }


  &__image {
    position: absolute;
    max-width: 18rem;
    right: 0;
    bottom: 0;

    &--right {
      max-width: 16rem;
    }
  }

  &__hint {
    position: absolute;
    font-size: .85rem;
    max-width: 100px;
    left: 50px;
    bottom: 50px;
    color: gray;

    &::before {
      content: '';
      background-image: url(../images/mouse_pointer.png);
      background-size: 32px;
      background-repeat: no-repeat;
    }
  }
}