$mainBackgroundColor: #788bac;
// $mainBackgroundColor: #f2f6fc;
$primaryBorderRadius: 16px;
$secondaryBorderRadius: 8px;
$debugBorder: 1px solid rgb(214, 27, 27);

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

html,
body {
  min-height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
}

.wrapper {
  max-width: 1310px;
  display: block;
  position: relative;
  margin: 30px auto;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.header {
  background: $mainBackgroundColor;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 108px;
  margin-bottom: 44px;
  border-radius: $primaryBorderRadius;


  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    font-size: .5em;
  }
}

.header__logo {
  width: 115px;
  margin-right: 10px;
}

.page__title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0;
  text-align: left;
}

.boxes {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //border: $debugBorder;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.box {
  border-radius: $primaryBorderRadius;
  width: 635px;
  min-height: 618px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 550px;
  background-color: $mainBackgroundColor;

  &--left {
    //margin-right: 20px;
    background-image: url(../images/misha.png);
    background-position: -120% bottom;
  }

  &--right {
    background-image: url(../images/nastya.png);
    background-position: 210% bottom;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.box__title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: right;
  width: 70%;
  margin: 60px 60px 32px;

  &--left {
    text-align: left;
  }

  &--right {
    float: right;
  }
}



.clr {
  clear: both;
}

.who-is__list-box {
  list-style-type: none;
  text-align: left;
  float: right;
  margin: 0 60px 60px 60px;
  padding: 0;

  &--right {
    float: left;
    text-align: right;
  }
}

.who-is__list {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.button-link {
  background: #326295;
  color: #fff;
  text-decoration: none;
  display: block;
  position: absolute;
  margin: 0 auto;
  bottom: 49px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.2em;
  padding: 46px 70px;
  left: 10%;
  right: 10%;
  text-align: center;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 4px;

  &--find-employee {
    background: #DC2C2A;
  }

  &:hover {
    color: #fff;
  }
}


.button-link:hover {
  bottom: 40px
}


.line-text__line {
  width: 4rem;
  height: 3px;
  background-color: #326295;
  position: relative;
  top: -5px;
  display: inline-block;

  .mr {
    margin-right: 1rem;
  }

  .box--left &::after {
    content: '';
    position: absolute;
    left: -0.5rem;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #326295;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .box--right &::after {
    content: '';
    position: absolute;
    left: 90%;
    top: 50%;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #d9272d;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }


}