@use "common";

$font: 'Roboto';

@import url("https://fonts.googleapis.com/css2?family=#{$font}:wght@300;400;500;700&display=swap");

html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  font-family: $font, sans-serif;
  //font-size: 16px !important;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 68px;
}

.main-content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  margin-top: 2rem;
}

.position-xl-relative {
  @media (min-width: 1200px) {
    position: relative;
  }
}

/*body::before2 {
  display: block;
  content: '';
  height: 68px;

  !*@media (max-width: 576px) {
    height: 104px;
  }*!
}*/

.center-on-sm {
  @media (max-width: 768px) {
    text-align: center;
  }
}

.btn-invite2tender {
  background-color: #47B1AC;
  border-color: #47B1AC;
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    color: #47B1AC;
  }
}

.showcase-work {
  //margin-top: 24px;
  position: relative;
  //min-height: 360px;
  background-image: url(../images/work_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  //min-height: 500px;
  overflow: hidden;
  //box-shadow: inset 0 0 0 2000px rgba(222, 220, 220, 0.5);

  &__image {
    //width: 400px;
    //position: absolute;
    //right: 0;
    //bottom: 0;
  }

  &__conditions {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    font-size: .95em;

    @media (max-width: 992px) {
      display: inline-block;
      text-align: center;
    }

    li + li {
      margin-left: 25px;

      @media (max-width: 992px) {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    li {
      display: flex;
      align-items: center;
      line-height: 1.2em;
      font-size: 1em;
      gap: 5px;

      img {
        width: 28px;
      }
    }
  }
}

#rulesCheck:checked button {
  background-color: red;
}

.applicant_contacts_btn {

  &--disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.company-summary {
  background-color: rgb(255 255 255 / 35%);
  backdrop-filter: blur(10px);
  padding: 25px 20px 15px;
  //float: right;
  position: absolute;
  right: 0;
  bottom: -1px;

  @media (max-width: 992px) {
    position: static;
  }


  .info_blocks {
    //display: flex;
    //flex-wrap: wrap;
  }

  .info__block {
    width: 20%;

    @media (max-width: 556px) {
      text-align: center;
      width: 50%;
      margin-bottom: 10px;
    }
  }

  .info__title {
    font-weight: bold;
    font-size: 2em;
  }

  .info__subtitle {
    line-height: 1em;
    font-size: .85em;
  }
}

.header {

  &__nav {
    background: #ffffff;
    //background-filter: blur(10px);
    //border-bottom: 1px solid #ddd;
    box-shadow: 1px 1px 5px #ddd;

    .nav-link {
      color: #2C8A88 !important;

      &:hover {
        text-decoration: underline;
      }
    }

    .navbar-toggler {
      border: none !important;
    }
  }

  &__logo {
    width: auto;
    height: 42px;
  }
}

.phone {
  width: 15px;
  color: #6c6c6c !important;
  font-weight: lighter;

  &:hover {
    text-decoration: none;
  }
}


.breadcrumb .breadcrumb-item a {
  color: #2C8A88;
  font-size: 14px;
}


.vacancy-list {
  padding: 3rem 1rem;
}

.job-guarantees {
  color: #fff;
  background-color: #6c6c6c;
  background-image: url(../images/bg_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10rem;
}

.my-btn {
  font-size: 1rem;
  letter-spacing: .05rem;
  padding: 1rem 1.5rem !important;
}


.condition-item {
  display: flex;
  padding: 25px 10px;

  &__text {
    font-size: .95rem;
    font-weight: lighter;
    margin-left: 15px;
    line-height: 1.3;
  }

  img {
    width: 40px;
  }

}


.job-card {
  background-image: url(../images/job_card_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-size: 1.3rem;
    line-height: 1.12;
    font-weight: bolder;
    margin-bottom: .5rem;
  }

  &__region {
    font-size: .8rem;
    margin-top: 10px;
    margin-bottom: .5rem;
  }

  &__conditions {
    font-size: .8rem;
    margin-top: 10px;
  }
}


/**
  Open works card
 */
.work-card-col {

}

.work-card {
  $minHeight: 400px;
  $debug: false;

  background-color: transparent;
  min-height: $minHeight;
  margin: 0 auto;
  cursor: pointer;
  perspective: 1000px;


  &__inner {
    position: relative;
    min-height: $minHeight;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }


  &__front,
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    //-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__front {
    background-image: url(../images/card_bg_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .front__text {
    background-image: none;
  }

  &__background {
    padding: 5px 30px;
    //background-color: #0b5ed7;
    background-image: url(../images/card_bg_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transform: rotateY(180deg);


    .vacancies-list {
      list-style-type: none;
      width: $minHeight;
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;

      @media (max-width: 992px) {
        border: 1px solid red;
        font-size: .8rem;
      }

      li {
        width: 50%;
        //text-align: left;
        padding-left: 1rem;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      li a {
        color: #fff;
      }

      li a:hover {
        color: #debc0f;
      }

      li::before {
        content: '';
        position: absolute;
        left: -0.5rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        background-color: #e3bf0d;
        top: 1.5rem;
      }
    }
  }

  // debug
  @if $debug {
    &__inner {
      transform: rotateY(-180deg);
    }
  }
  @else {
    &:hover &__inner {
      transform: rotateY(-180deg);
    }
  }

}



.front {

  &__text {
    position: absolute;
    left: 50px;
    top: 50px;

    &-title {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1;
    }

    &-subtitle {
      font-weight: lighter;
      font-size: 1.125rem;
      padding-top: 8px;
    }
  }


  &__image {
    position: absolute;
    max-width: 18rem;
    right: 0;
    bottom: 0;

    &--right {
      max-width: 16rem;
    }

    @media (max-width: 992px) {
      max-width: 12rem;

      &--right {
        max-width: 10rem;
      }
    }
  }

  &__hint {
    position: absolute;
    font-size: .85rem;
    max-width: 100px;
    left: 50px;
    bottom: 50px;
    color: gray;

    &::before {
      content: '';
      background-image: url(../images/mouse_pointer.png);
      background-size: 32px;
      background-repeat: no-repeat;
    }
  }
}


