<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row footer__top">
            <div class="col-md-3">
                <div class="footer__item text-start">
                    <div class="footer__logo">
                        <img src="../images/site_logo.svg" alt="логотип сайта" width="150" />
                        <div class="footer__logo-text">Группа компаний</div>
                    </div>


                    <div class="mt-5 mb-1 fs-6">Мы в социальных сетях</div>
                    <div class="d-flex align-items-center mb-5 social-items">
                        <a href="#" class="footer__icon">
                            <img class="img-fluid" src="../images/instagram.svg" alt="instagram icon" />
                        </a>
                        <a href="#" class="footer__icon">
                            <img class="img-fluid" src="../images/youtube.svg" alt="youtube icon" />
                        </a>
                        <a href="#" class="footer__icon">
                            <img class="img-fluid" src="../images/vk.svg" alt="vk icon" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-1">
                <div><b>С нами можно связаться</b></div>
                <div>Пн-Пт с 10:00 до 19:00</div>
                <div><b>8 (000) 000-00-00</b></div>
                <div class="footer__address">
                    <div>Адрес</div>
                    <div>000000, Россия, Москва, Название ул, д. 000</div>
                </div>
            </div>
            <div class="col-md-3 pt-1">
                <div>Меню сайта</div>
                <ul class="footer__menu-list">
                    <li class="menu-list__item"><a href="#">Пригласить на тендер</a></li>
                    <li class="menu-list__item"><a href="#">О компании</a></li>
                    <li class="menu-list__item"><a href="#">Вакансии</a></li>
                    <li class="menu-list__item"><a href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer__bottom">
            <div class="col ps-0">
                Все права защищены 2022 ООО "БХТ"
            </div>
            <div class="col text-center">
                <a href="privacy-policy.html" class="text-danger">Политика конфеденциальности</a>
            </div>
            <div class="col text-end pe-0">
                Сделано Студия-Сайт
            </div>
        </div>
    </div>
</footer>