<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top header__nav">
    <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center flex-wrap">
            <img src="images/site_logo.svg" class="img-fluid header__logo" alt="Профессиональный аутсорсинг персонал" />
            <span class="px-2 d-none d-lg-block">Проффесиональный клининг</span>
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto text-uppercase fw-bold">
                <li class="nav-item">
                    <a href="client_cases.html" class="nav-link">Опыт клиентов</a>
                </li>
                <li class="nav-item">
                    <a href="news.html" class="nav-link">Новости</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">О компании</a>
                </li>
                <li class="nav-item">
                    <a href="contacts.html" class="nav-link">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>