{% from "../macro/partner_card.njk" import partner_card %}

{% set partnersList = [
    { name: 'Сбербанк', image: 'sberbank.jpg' },
    { name: 'AptekaRu', image: 'aptekaru.png' },
    { name: 'Ariston', image: 'ariston.png' },
    { name: 'Биокад', image: 'biocad.png' },
    { name: 'Чипита', image: 'chipita.jpg' },
    { name: 'Фауретика', image: 'faurecia.png' },
    { name: 'Хартман', image: 'hartman.png' },
    { name: 'Хейнц', image: 'heinz.png' },
    { name: 'Хундай', image: 'hundai.jpg' },
    { name: 'Major', image: 'major.jpg' },
    { name: 'Русский стандарт', image: 'russian_standart.png' },
    { name: 'Солофарм', image: 'solopharm.png' },
    { name: 'Спортсмастер', image: 'sportsmaster.png' },
    { name: 'SuperWave', image: 'superwave.png' },
    { name: 'Торговый дом', image: 'trade_house.jpg' }
] %}

<section class="partners-slider p-3">
    <div class="container p-4 p-lg-0 pt-lg-4">
        <h3 class="text-center mb-4">Наши партнеры</h3>

        <div class="row g-4">
        {% for partner in partnersList %}
            <div class="col-md-6 col-lg-3">
                {{ partner_card(partner.image, partner.name) }}
            </div>
        {% endfor %}
        </div>
        
    </div>
</section>

