<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top header__nav">
    <div class="container-xxl">
        <a href="/" class="navbar-brand d-flex align-items-center flex-wrap">
            <img src="images/site_logo.svg" class="img-fluid header__logo" alt="Подбор вакансий" />
            <span class="px-2 d-none d-lg-block">Подбор вакансий</span>
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto text-uppercase fw-bold d-flex align-items-center">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#invite2tender">
                        <span class="btn btn-invite2tender">Пригласить на тендер</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">О компании</a>
                </li>
                <li class="nav-item">
                    <a href="jobs.html" class="nav-link">Вакансии</a>
                </li>
                <li class="nav-item">
                    <a href="contacts.html" class="nav-link">Контакты</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="tel:+7 918 000 00 00" class="nav-link">
                        <img src="images/phone.svg" alt="call" width="15" style="fill: #0a58ca"/>
                        <span class="phone">+7 918 000 00 00</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>